@model AdminActivityIndexModel
@{
    ViewData["Title"] = "Your activity";
}

<div row class="text-info text-center">
    <h2>@this.ViewData["Title"]</h2>
    <hr />
</div>

<table class="table table-bordered table-striped table table-hover">
    <thead>
    <tr>
        <th class="text-center"><strong>Action</strong></th>
        <th class="text-center"><strong>Date</strong></th>
    </tr>   
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Activities)
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model.PagesModel">
