@model MapIssueMarkerComponentViewModel

<div class="form-group col-lg-12">
    <div id="map" style="height: 500px;">
    </div>
</div>

<script>
    var map;
    function initMap() {
        var myLatLng = { lat: @(Model.Latitude), lng: @(Model.Longitude) };
        var mapOptions = { zoom: @(Model.Zoom), center: myLatLng }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        $.get("@Url.Action("GetIssuesInfoBoxDetails", "IssuesApi")",
            function(data, status) {
                var marker = [];
                for (var i = 0; i < data.length; i++) {
                    marker[i] = new google.maps.Marker({
                        position: { lat: parseFloat(data[i].latitude), lng: parseFloat(data[i].longitude) },
                        map: map
                    });

                    //on marker click to open modal with issue details
                    google.maps.event.addListener(marker[i], 'click', (function (currentMarker, i) {
                        return function () {
                            $('#detailsModelBody').empty();
                            $('#issueDetailsModal').modal('show');
                            var id = data[i].id;

                            $.get(`/Issue/GetDetails/${id}`,
                                function (html, status) {
                                    $('#detailsModelBody').append(html);
                                });

                            $('#modalBtnMore').click(function () {
                                var url = '/Issue/Details/' + id;
                                window.location.href = url;
                            });
                        }
                    })(marker[i], i));
                }
            });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=@(Model.ApiKey)&callback=initMap"
        async defer>
</script>

