@model MapRegionInfoComponentViewModel

<div class="form-group col-lg-12">
    <div id="map" style="height: 500px;">
    </div>
</div>

<script>
    var map;
    function initMap() {
        var myLatLng = { lat: @(Model.Latitude.ToString().Replace(",", ".")), lng: @(Model.Longitude.ToString().Replace(",", ".")) };
        var mapOptions = { zoom: @(Model.Zoom.ToString().Replace(",", ".")), center: myLatLng }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        $.get("@Url.Action("GetIssuesInfoBoxDetails", "IssuesApi")",
            function(data, status) {
                console.log(data);
                var marker = [];
                var contentString = [];
                var infowindow = [];
                for (var i = 0; i < data.length; i++) {
                    marker[i] = new google.maps.Marker({
                        position: { lat: parseFloat(data[i].latitude), lng: parseFloat(data[i].longitude) },
                        map: map
                    });
                    contentString[i] = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading">' + data[i].title + '</h1>' +
                        '<div id="bodyContent">' +
                        '<div><img src="' + data[i].pictureThumbnailUrl + '"alt="Smiley face" height="80" width="80">' +
                        '<p>' + data[i].description + '</p>' +
                        '<a href="/issue/details/'+ data[i].id +'"><h3 id="content">View Details</h3></a>' +
                        '</div>' +
                        '</div>';

                    infowindow[i] = new google.maps.InfoWindow({
                        content: contentString[i]
                    });
                    var markerValue = marker[i];

                    google.maps.event.addListener(markerValue, 'mouseover', (function(currentMarker, i) {
                        return function() {
                            infowindow[i].open(map, marker[i]);
                        }
                    })(marker[i], i));

                    google.maps.event.addListener(markerValue, 'mouseclick', (function (currentMarker, i) {
                        return function () {
                            infowindow[i].close();
                        }
                    })(marker[i], i));
                }
            });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=@(Model.ApiKey)&callback=initMap"
        async defer>
</script>

