@inject IConfiguration Configuration
@model UrbanSolution.Services.Events.Models.EventEditServiceModel
@{
    ViewData["Title"] = "Edit event";                                  
    var apiKey = Configuration.GetSection("Google:MapsApiKey").Value;
}

<h3 class="text-center text-info">@ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Events" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Title"></label>
                    <div>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="StartDate"></label>
                    <div>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate"></label>
                    <div>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <label>Enter location in the map</label>
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location" />
            <div class="form-group">
                <div id="map" style="height: 400px;"></div>
            </div>
            <div id="infowindow-content">
                <span id="place-name" class="title"></span><br>
                Place ID <span id="place-id"></span><br>
                <span id="place-address"></span>
            </div>


            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="GetAddress">Get Address</button>
                        </span>
                        <input asp-for="Address" class="form-control" placeholder="Adress..." />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label asp-for="Description" class="control-label"></label>
                    <div>
                        <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="Latitude" />
            <input type="hidden" asp-for="Longitude" />

            <hr />

            <div class="row" style="text-align: center">
                <button type="submit" class="btn btn-default">Create</button>
                <a asp-action="Index" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <partial name="_ShowGoogleMapForGetingAddress"/>

    <script src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&libraries=places&callback=initMap"
            async defer>
    </script>
}


