@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<h4 class="text-center">Create a new account.</h4>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="Input.FullName"></label>
                    <input asp-for="Input.FullName" class="form-control" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="Input.Age"></label>
                    <input asp-for="Input.Age" class="form-control" min="1" max="110" />
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="text-align: center">
                <button type="submit" class="btn btn-default">Register</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
