@model UrbanSolution.Web.Models.IssuesListingViewModel
@{
    ViewData["Title"] = "New issues";
}

<div row class="text-info text-center">
    <h2>@this.ViewData["Title"]</h2>
    <hr />
</div>

@if (Model.Issues.Any())
{
    @*issues for carousel*@

    <div class="slick-issues row issues-listing" id="wrapper">
        @await Html.PartialAsync("_IssuesListingPartial", Model)
    </div>

    @*component view with map with markers for issues location*@

    @await Component.InvokeAsync("UrbanIssuesMapWithMarkers", Model.Region)
}
else
{
    <div row class="text-info text-center">
        <br />
        <h4>@WebConstants.NoIssuesToShow</h4>
        <br />
    </div>
}

@section Scripts
{
    <partial name="_SlickCarouselIssuesListingScriptPartial" />
}

