@using static UrbanSolutionUtilities.WebConstants;

@if (User.IsInRole(AdminRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="Index">
                    <i class="glyphicon glyphicon-user"></i> Users
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a asp-area="Admin" asp-controller="Activity" asp-action="Index">
                    <i class="glyphicon glyphicon-eye-open"></i> Activity
                </a>
            </li>
        </ul>
    </li>
}

@if (User.IsInRole(ManagerRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a asp-area="" asp-controller="Issue" asp-action="Publish">
                    <i class="glyphicon glyphicon-send"></i> Publish issue
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a asp-area="Manager" asp-controller="UrbanIssue" asp-action="Index">New issues</a></li>
            <li><a asp-area="" asp-controller="Issue" asp-action="Index">Approved Issues</a></li>
            <li role="separator" class="divider"></li>
            <li>
                <a asp-area="Manager" asp-controller="Activity" asp-action="Index">
                    <i class="glyphicon glyphicon-eye-open"></i> My Activity
                </a>
            </li>
            @if ((string)this.ViewData[ViewDataUsernameKey] == ManagerAllUserName)
            {
                <li>
                    <a asp-area="Manager" asp-controller="Activity" asp-action="AllManagersActivity">
                        <i class="glyphicon glyphicon-eye-open"></i> All Activity
                    </a>
                </li>
            }
        </ul>
    </li>
}
@if (User.IsInRole(BlogAuthorRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogger <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="Blog" asp-controller="Articles" asp-action="Create">Publish Article</a></li>
            <li><a asp-area="Blog" asp-controller="Articles" asp-action="Index">Articles</a></li>
        </ul>
    </li>
}
@if (User.IsInRole(EventCreatorRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="Events" asp-controller="EventCreator" asp-action="Create">Create Event</a></li>
            <li><a asp-area="Events" asp-controller="Events" asp-action="Index">Events</a></li>
        </ul>
    </li>
}

<li><a asp-area="" asp-controller="Issue" asp-action="Index">Home</a></li>

@if (!User.IsInRole(ManagerRole))
{
    <li>
        <a asp-area="" asp-controller="Issue" asp-action="Publish">
            <i class="glyphicon glyphicon-send"></i> Issue
        </a>
    </li>
}
@if (!User.IsInRole(BlogAuthorRole))
{
    <li><a asp-area="Blog" asp-controller="Articles" asp-action="Index">Articles</a></li>
}
@if (!User.IsInRole(EventCreatorRole))
{
    <li><a asp-area="Events" asp-controller="Events" asp-action="Index">Events</a></li>
}
