
<li><a asp-area="" asp-controller="Issue" asp-action="Index">Home</a></li>

@if (User.IsInRole(WebConstants.AdminRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
            <li role="separator" class="divider"></li>
            <li><a asp-area="Admin" asp-controller="Activity" asp-action="Index">Activity</a></li>
        </ul>
    </li>

}
@if (User.IsInRole(WebConstants.ManagerRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
        <ul class="dropdown-menu">

            <li><a asp-area="" asp-controller="Users" asp-action="PublishIssue">Publish issues</a></li>

            <li><a asp-area="Manager" asp-controller="UrbanIssue" asp-action="Index">New issues</a></li>

            <li><a asp-area="" asp-controller="Issue" asp-action="Index">Approved Issues</a></li>

            <li role="separator" class="divider"></li>

            <li><a asp-area="Manager" asp-controller="Activity" asp-action="Index">My Activity</a></li>

            @if ((string)this.ViewData["username"] == WebConstants.ManagerUserName)
            {
                <li>
                    <a asp-area="Manager" asp-controller="Activity" asp-action="AllManagersActivity">
                        All Activity
                    </a>
                </li>
            }
        </ul>
    </li>
}
@if (User.IsInRole(WebConstants.BlogAuthorRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogger <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="Blog" asp-controller="Articles" asp-action="Create">Publish Article</a></li>
            <li><a asp-area="Blog" asp-controller="Articles" asp-action="Index">Articles</a></li>
        </ul>
    </li>
}
@if (User.IsInRole(WebConstants.EventCreatorRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="Events" asp-controller="Events" asp-action="Create">Create Event</a></li>
            <li><a asp-area="Events" asp-controller="Events" asp-action="Index">Events</a></li>
        </ul>
    </li>
}

@if (!User.IsInRole(WebConstants.BlogAuthorRole))
{
    <li><a asp-area="Blog" asp-controller="Articles" asp-action="Index">Articles</a></li>
}

@if (!User.IsInRole(WebConstants.EventCreatorRole))
{
    <li><a asp-area="Events" asp-controller="Events" asp-action="Index">Events</a></li>
}

@if (!User.IsInRole(WebConstants.ManagerRole))
{
    <li><a asp-area="" asp-controller="Users" asp-action="PublishIssue"><i class="glyphicon glyphicon-send"></i> Issue</a></li>
}