@model IssuesListingViewModel
@{
    ViewData["Title"] = "Approved Issues";
}

<div row class="text-info text-center">
    <h2>@this.ViewData["Title"]</h2>
    <hr />
</div>

<div class="row issues-listing">
    @await Html.PartialAsync("_IssuesListingPartial", Model)
</div>