@model UrbanSolution.Web.Areas.Admin.Models.AdminUsersListingViewModel

@foreach (var user in Model.Users)
{
    <tr>
        <td class="text-center">@user.UserName</td>
        <td class="text-center">@user.Email</td>
        <td>
            <form asp-controller="Users" asp-action="AddToRole" method="post">
                <div class="col-md-8">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <select name="Role" asp-items="Model.AllRoles" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <input class="btn btn-sm btn-success" type="submit" value="Add" />
                </div>
            </form>
        </td>
        <td>
            <form asp-controller="Users" asp-action="RemoveFromRole" method="post">
                <div class="col-md-8">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <select name="Role" asp-items="Model.AllRoles" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <input class="btn btn-sm btn-danger" type="submit" value="Remove" />
                </div>
            </form>
        </td>
    </tr>
}