@model IssuesListingViewModel

@* When issues are listed in carousel (New Issues page)  *@
@*@if (Model.UseCarousel)
{
    @Html.DisplayFor(m => m.Issues)
}*@

@* When issues are listed normally (Approved Issues page) *@
<div class="row">
    <ul class="list-group">
        @Html.DisplayFor(m => m.Issues)
    </ul>
    <input type="hidden" id="pagesCount" value="@Model.PagesCount" />
    <input type="hidden" id="page" value="@Model.Page"/>
</div>







