@model IssuesListingViewModel
@{
    var pagesModel = new PagesModel
    {
        CurrentPage = Model.CurrentPage,
        NextPage = Model.NextPage,
        TotalPages = Model.TotalPages,
        PreviousPage = Model.PreviousPage
    };
}

@* When issues are listed in carousel (New Issues page) *@
@if (Model.UseCarousel)
{
    @Html.DisplayFor(m => m.Issues)
}
@* When issues are listed normally (Approved Issues page) *@
else
{
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                @Html.DisplayFor(m => m.Issues)
            </ul>
        </div>
    </div>

    //show paging
    if (Model.TotalIssues > Model.Issues.Count())
    {
        @await Html.PartialAsync("_PagingPartial", pagesModel)
    }
}





