@if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
{
    <div class="alert alert-success text-center">
        @TempData[WebConstants.TempDataSuccessMessageKey]
    </div>
}
@if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
{
    <div class="alert alert-danger text-center">
        @TempData[WebConstants.TempDataErrorMessageKey]
    </div>
}
@if (TempData.ContainsKey(WebConstants.TempDataInfoMessageKey))
{
    <div class="alert alert-info text-center">
        @TempData[WebConstants.TempDataInfoMessageKey]
    </div>
}