@model UrbanSolution.Services.Admin.Models.AdminActivitiesListingServiceModel

<tr>
    <td class="text-center">@Model.EditedUserUserName</td>
    <td class="text-center">@Model.Activity</td>
    <td class="text-center">@Model.DateTime</td>
</tr>


