@model AdminUsersListingViewModel
@{
    ViewData["Title"] = "Users Administration";
}

<div row class="text-info text-center">
    <h2>@this.ViewData["Title"]</h2>
    <hr />
</div>

<table class="table table-bordered table-striped table table-hover">
    <thead>
        <tr>
            <th class="text-center"><strong>Username</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Set Role</strong></th>
            <th class="text-center"><strong>Remove Role</strong></th>
        </tr>   
    </thead>
    <tbody>
        @await Html.PartialAsync("_AdminUsersListingPartial", Model)
    </tbody>
</table>