@inject IConfiguration Configuration
@using UrbanSolution.Models.Utilities
@model PublishIssueViewModel
@{
    ViewData["Title"] = "Publish Issue";
    var apiKey = Configuration.GetSection("Google:MapsApiKey").Value;
}


<h3 class="text-center">@this.ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="post">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Name"></label>
                    <div>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="PictureUrl"></label>
                    <div>
                        <input asp-for="PictureUrl" class="form-control" />
                        <span asp-validation-for="PictureUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <label>Enter location in the map</label>
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location" />
            <div class="form-group">
                <div id="map" style="height: 400px;"></div>
            </div>
            <div id="infowindow-content">
                <span id="place-name" class="title"></span><br>
                Place ID <span id="place-id"></span><br>
                <span id="place-address"></span>
            </div>


            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="GetAddress">Get Address</button>
                        </span>
                        <input asp-for="Address" class="form-control" placeholder="Adress..." />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Region"></label>
                    <div>
                        <select asp-for="Region" asp-items="Model.Regions" class="form-control"></select>
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="IssueType"></label>
                    <div>
                        <select asp-for="IssueType" asp-items="Model.IssueTypes" class="form-control"></select>
                        <span asp-validation-for="IssueType" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input type="hidden" id="Latitude" name="Latitude" />
            <input type="hidden" id="Longitude" name="Longitude" />
            <input type="hidden" id="Town" name="Town" />
            <hr />

            <div class="row" style="text-align: center">
                <button type="submit" class="btn btn-default">Publish</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial"/>

    <script>
        var map;
        var place;
        var streetName;
        var coordinates = {};
        var town = "";

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: @(WebConstants.MapCenterLatitude), lng: @(WebConstants.MapCenterLongitude) },
                    zoom: @(WebConstants.MapCenterZoom)
                });

            var input = document.getElementById('pac-input');

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var infowindow = new google.maps.InfoWindow();
            var infowindowContent = document.getElementById('infowindow-content');
            infowindow.setContent(infowindowContent);

            var marker = new google.maps.Marker({
                map: map,
                animation: google.maps.Animation.DROP
            });

            marker.addListener('click',
                function() {
                    infowindow.open(map, marker);
                });

            autocomplete.addListener('place_changed',
                function() {
                    infowindow.close();
                    place = autocomplete.getPlace();
                    if (!place.geometry) {
                        return;
                    }

                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);
                    }

                    //
                    coordinates.latitude = place.geometry.location.lat();
                    coordinates.longitude = place.geometry.location.lng();

                    // Set the position of the marker using the place ID and location.
                    marker.setPlace({
                        placeId: place.place_id,
                        location: place.geometry.location,
                    });

                    marker.setVisible(true);

                    //
                    streetName = place.name.trim();
                    var pointInfo = place.formatted_address.split(",");
                    //country = pointInfo[3].trim();
                    town = pointInfo[2].trim();
             
                    infowindowContent.children['place-name'].textContent = place.name;
                    infowindowContent.children['place-id'].textContent = place.place_id;
                    infowindowContent.children['place-address'].textContent =
                        place.formatted_address;

                    infowindow.open(map, marker);
                });
        }

        $("#GetAddress").click(function() {
            $("#Address").val(streetName);
            $("#Latitude").val(coordinates.latitude);
            $("#Longitude").val(coordinates.longitude);
            $("#Town").val(town);
            $("#Country").val(country);
        });


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&libraries=places&callback=initMap"
            async defer>
    </script>

}

