/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.issues-listing .img-responsive {
    height: 120px !important;
    margin: auto 0px;
}

.picture-listing .pic-responsive {
    height: 350px !important;
    width: 450px !important;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 20%;
    float: left;
}

.menu-item ul {
    float: right;
    list-style: none;
}

.menu-area {
    overflow: hidden;
}

    .menu-area ul li {
        display: inline-block;
    }

        .menu-area ul li a {
            display: inline-block;
            padding: 10px 15px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000000;
        }

.horizontol-line {
    border: solid #00ced1;
    border-width: 1px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0;
}

.article-list li {
    margin-bottom: 20px;
}

/**/
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/*deleted*/ 

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

    .controls:focus {
        border-color: #4d90fe;
    }

.title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
    background:#4d90fe;
}
